@import "import/mixin.scss";
@import "import/variables.scss";

body {
  background-color: $lightCyan;
  font-family: $font;
}

/**
* Title
*/

#title_container {
  width: 5vw;
  font-weight: 700;
  letter-spacing: 0.5vw;
  overflow-wrap: break-word;
  position: fixed;
  left: 50%;
  top: 20%;
}

/**
* Main Card
*/

#splitter_container {
  @include border-radius(15px);
  display: flex;
  background-color: $white;
  width: 49vw;
  height: 50vh;
  position: fixed;
  left: 25%;
  top: 35%;
  font-size: 0.9rem;
  font-weight: 700;
  color: $lightDarkCyan;

  /**
  * Left side
  */

  .left_card {
    width: 50%;
    height: 90%;
    margin: 1rem;
    padding-top: 0.9rem;
    padding-left: 0.9rem;

    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /**
    * First part
    */

    .bill {
      margin-bottom: 2.5vh;

      #bill_input {
        font-size: $fontSizeInput;
        font-family: $font;
        height: 5vh;
        background-color: $veryLightCyan;
        border-style: none;
        @include border-radius(5px);
        outline-color: $strongCyan;
        padding-right: 0.5vw;
      }

      .clicked {
        text-align: end;
        padding-right: 0.5vw;
      }
    }

    /**
    * Second part
    */

    .select_tip {
      display: flex;
      flex-direction: column;
      margin-bottom: 4vh;
      input {
        @include border-radius(5px);
        font-family: $font;
        color: $white;
        background-color: $strongDarkCyan;
        font-size: $fontSizeInput;
        height: $height;
        width: $width;
        font-weight: 500;
        border: none;
        caret-color: $strongCyan;
      }

      .second_raw {
        margin-top: 1.5vh;
      }

      #custom {
        color: $darkCyan;
        background-color: $white;
        font-weight: 700;
      }

      .clicked {
        text-align: end;
        padding-right: 0.5vw;
        outline-color: $strongCyan;
        width: 6vw;
      }
    }

    /**
    * Third part
    */

    .nb_people {
      input {
        font-size: $fontSizeInput;
        font-family: $font;
        height: 5vh;
        background-color: $veryLightCyan;
        border-style: none;
        @include border-radius(5px);
      }

      .clicked {
        text-align: end;
        padding-right: 0.5vw;
      }

      #error_message {
        margin-left: 1.3vw;
        color: hsl(36, 90%, 50%);
      }
    }
  }

  /**
  * Right side
  */

  .right_card {
    width: 50%;
    height: 90%;
    margin: 1rem;
    @include border-radius(15px);
    background-color: $strongDarkCyan;
  }
}
