/**
* Mixins
*/
/**
* Variables
*/
body {
  background-color: #c5e4e7;
  font-family: "Space Mono", monospace;
}

/**
* Title
*/
#title_container {
  width: 5vw;
  font-weight: 700;
  letter-spacing: 0.5vw;
  overflow-wrap: break-word;
  position: fixed;
  left: 49%;
  top: 20%;
}

/**
* Main Card
*/
#splitter_container {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  display: flex;
  background-color: white;
  width: 49vw;
  height: 50vh;
  position: fixed;
  left: 25%;
  top: 35%;
  font-size: 0.9rem;
  font-weight: 700;
  color: #7f9c9f;
  /**
  * Left side
  */
  /**
  * Right side
  */
}
#splitter_container .left_card {
  width: 50%;
  height: 90%;
  margin: 1rem;
  padding-top: 0.9rem;
  padding-left: 0.9rem;
  /**
  * First part
  */
  /**
  * Second part
  */
  /**
  * Third part
  */
}
#splitter_container .left_card .label {
  margin-bottom: 1vh;
}
#splitter_container .left_card input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#splitter_container .left_card .bill {
  margin-bottom: 2.5vh;
}
#splitter_container .left_card .bill #dollar {
  position: fixed;
  top: 44.3%;
  left: 28%;
}
#splitter_container .left_card .bill input {
  font-size: 24px;
  font-family: "Space Mono", monospace;
  height: 5vh;
  background-color: #f4fafa;
  border-style: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  outline-color: #c5e4e7;
  text-align: end;
  padding-right: 0.5vw;
  color: #7f9c9f;
  cursor: pointer;
}
#splitter_container .left_card .bill input:hover {
  border: 1px solid #26c0ab;
}
#splitter_container .left_card .bill .clicked {
  color: #00494d;
  font-weight: 700;
}
#splitter_container .left_card .select_tip {
  display: flex;
  flex-direction: column;
  margin-bottom: 4vh;
}
#splitter_container .left_card .select_tip input {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: "Space Mono", monospace;
  color: white;
  background-color: #00494d;
  font-size: 24px;
  height: 6vh;
  width: 6.5vw;
  font-weight: 500;
  border: none;
  caret-color: #26c0ab;
  margin-bottom: 1.2vh;
  cursor: pointer;
}
#splitter_container .left_card .select_tip input:hover {
  font-weight: 700;
  color: #00494d;
  background-color: #c5e4e7;
}
#splitter_container .left_card .select_tip .clicked {
  background-color: #26c0ab;
  color: #00494d;
  font-weight: 700;
}
#splitter_container .left_card .select_tip #custom {
  color: #5e7a7d;
  background-color: white;
  font-weight: 700;
  cursor: pointer;
}
#splitter_container .left_card .select_tip .custom_clicked {
  text-align: end;
  padding-right: 0.5vw;
  color: #00494d !important;
  outline-color: #26c0ab;
  width: 6vw;
}
#splitter_container .left_card .nb_people #person {
  position: fixed;
  top: 81%;
  left: 28%;
}
#splitter_container .left_card .nb_people input {
  font-size: 24px;
  font-family: "Space Mono", monospace;
  height: 5vh;
  background-color: #f4fafa;
  border-style: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: end;
  padding-right: 0.5vw;
  color: #7f9c9f;
  outline-color: #c5e4e7;
  cursor: pointer;
}
#splitter_container .left_card .nb_people input:hover {
  border: 1px solid #26c0ab;
}
#splitter_container .left_card .nb_people .clicked {
  color: #00494d;
  font-weight: 700;
}
#splitter_container .left_card .nb_people #error_message {
  margin-left: 2.2vw;
  color: #f2960d;
}
#splitter_container .right_card {
  width: 50%;
  height: 90%;
  margin: 1rem;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-color: #00494d;
  /**
  * Button reset
  */
}
#splitter_container .right_card .tip, #splitter_container .right_card .total {
  display: flex;
  margin: 6vh 1vw;
}
#splitter_container .right_card .tip .text, #splitter_container .right_card .total .text {
  color: white;
  font-weight: 400;
}
#splitter_container .right_card .tip .text p, #splitter_container .right_card .total .text p {
  color: #7f9c9f;
  margin: 0;
}
#splitter_container .right_card .tip #tip_amount, #splitter_container .right_card .total #tip_amount {
  font-size: 31px;
  margin-left: 5vw;
  color: #26c0ab;
}
#splitter_container .right_card .total #total_person {
  font-size: 31px;
  margin-left: 6.2vw;
  color: #26c0ab;
}
#splitter_container .right_card #reset {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 18vw;
  height: 5vh;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 15px;
  background-color: #26c0ab;
  color: #00494d;
  opacity: 25%;
  margin: 6vh 2vw;
  border: none;
  cursor: pointer;
}
#splitter_container .right_card #reset:hover {
  background-color: #c5e4e7;
  opacity: 100%;
}
#splitter_container .right_card #completed {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 18vw;
  height: 5vh;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 15px;
  background-color: #26c0ab;
  color: #00494d;
  margin: 6vh 2vw;
  border: none;
  opacity: none;
}
#splitter_container .right_card #completed:hover {
  background-color: #c5e4e7;
  opacity: 100%;
}
#splitter_container #footer {
  position: fixed;
  top: 95%;
  left: 32%;
}

/**
* Media Queries
*/
@media screen and (max-width: 1200px) {
  /**
  * Title
  */
  #title_container {
    width: 19vw;
    left: 42%;
    top: 2%;
    font-size: larger;
    letter-spacing: 1.5vw;
    color: #5e7a7d;
  }

  /**
  * Main Card
  */
  #splitter_container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 16%;
    /**
    * Left side
    */
    /**
    * Right side
    */
  }
  #splitter_container .left_card {
    /**
    * First part
    */
    /*
    ** Second part
    */
    /**
    * Third part
    */
  }
  #splitter_container .left_card .bill {
    margin-bottom: 0.5vh;
  }
  #splitter_container .left_card .bill #dollar {
    position: fixed;
    top: 24.3%;
    left: 12%;
  }
  #splitter_container .left_card .select_tip .select {
    width: 85vw;
  }
  #splitter_container .left_card .select_tip input {
    height: 5vh;
    width: 37.5vw;
    margin-right: 5px;
    margin-bottom: 11px;
  }
  #splitter_container .left_card .select_tip .custom_clicked {
    width: 36.5vw;
  }
  #splitter_container .left_card .nb_people #person {
    top: 62%;
    left: 12%;
  }
  #splitter_container .right_card {
    position: fixed;
    top: 66%;
    width: 90%;
    height: 30%;
  }
  #splitter_container .right_card .tip, #splitter_container .right_card .total {
    margin: 2vh 6vw;
  }
  #splitter_container .right_card .tip #tip_amount, #splitter_container .right_card .total #tip_amount {
    margin-left: 25vw;
  }
  #splitter_container .right_card .tip #total_person, #splitter_container .right_card .total #total_person {
    margin-left: 30vw;
  }
  #splitter_container .right_card #reset {
    height: 6vh;
    width: 79vw;
    margin: 1vh 5vw;
  }
  #splitter_container .right_card #completed {
    height: 6vh;
    width: 79vw;
    margin: 1vh 5vw;
  }

  #footer {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
