@import "import/mixin.scss";
@import "import/variables.scss";

body {
  background-color: $lightCyan;
  font-family: $font;
}

/**
* Title
*/

#title_container {
  width: 5vw;
  font-weight: 700;
  letter-spacing: 0.5vw;
  overflow-wrap: break-word;
  position: fixed;
  left: 49%;
  top: 20%;
}

/**
* Main Card
*/

#splitter_container {
  @include border-radius(15px);
  display: flex;
  background-color: $white;
  width: 49vw;
  height: 50vh;
  position: fixed;
  left: 25%;
  top: 35%;
  font-size: 0.9rem;
  font-weight: 700;
  color: $lightDarkCyan;

  /**
  * Left side
  */

  .left_card {
    width: 50%;
    height: 90%;
    margin: 1rem;
    padding-top: 0.9rem;
    padding-left: 0.9rem;

    .label {
      margin-bottom: 1vh;
    }

    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /**
    * First part
    */

    .bill {
      margin-bottom: 2.5vh;

      #dollar {
        position: fixed;
        top: 44.3%;
        left: 28%;
      }

      input {
        font-size: $fontSizeInput;
        font-family: $font;
        height: 5vh;
        background-color: $veryLightCyan;
        border-style: none;
        @include border-radius(5px);
        outline-color: $lightCyan;
        text-align: end;
        padding-right: 0.5vw;
        color: $lightDarkCyan;
        cursor: pointer;
      }

      input:hover {
        border: 1px solid $strongCyan;
      }

      .clicked {
        color: $strongDarkCyan;
        font-weight: 700;
      }
    }

    /**
    * Second part
    */

    .select_tip {
      display: flex;
      flex-direction: column;
      margin-bottom: 4vh;
      input {
        @include border-radius(5px);
        font-family: $font;
        color: $white;
        background-color: $strongDarkCyan;
        font-size: $fontSizeInput;
        height: $height;
        width: $width;
        font-weight: 500;
        border: none;
        caret-color: $strongCyan;
        margin-bottom: 1.2vh;
        cursor: pointer;
      }

      input:hover {
        font-weight: 700;
        color: $strongDarkCyan;
        background-color: $lightCyan;
      }

      .clicked {
        background-color: $strongCyan;
        color: $strongDarkCyan;
        font-weight: 700;
      }

      #custom {
        color: $darkCyan;
        background-color: $white;
        font-weight: 700;
        cursor: pointer;
      }

      .custom_clicked {
        text-align: end;
        padding-right: 0.5vw;
        color: $strongDarkCyan !important;
        outline-color: $strongCyan;
        width: 6vw;
      }
    }

    /**
    * Third part
    */

    .nb_people {
      #person {
        position: fixed;
        top: 81%;
        left: 28%;
      }

      input {
        font-size: $fontSizeInput;
        font-family: $font;
        height: 5vh;
        background-color: $veryLightCyan;
        border-style: none;
        @include border-radius(5px);
        text-align: end;
        padding-right: 0.5vw;
        color: $lightDarkCyan;
        outline-color: $lightCyan;
        cursor: pointer;
      }

      input:hover {
        border: 1px solid $strongCyan;
      }

      .clicked {
        color: $strongDarkCyan;
        font-weight: 700;
      }

      #error_message {
        margin-left: 2.2vw;
        color: hsl(36, 90%, 50%);
      }
    }
  }

  /**
  * Right side
  */

  .right_card {
    width: 50%;
    height: 90%;
    margin: 1rem;
    @include border-radius(15px);
    background-color: $strongDarkCyan;

    .tip {
      display: flex;
      margin: 6vh 1vw;
      .text {
        color: $white;
        font-weight: 400;

        p {
          color: $lightDarkCyan;
          margin: 0;
        }
      }
      #tip_amount {
        font-size: 31px;
        margin-left: 5vw;
        color: $strongCyan;
      }
    }

    .total {
      @extend .tip;

      #total_person {
        font-size: 31px;
        margin-left: 6.2vw;
        color: $strongCyan;
      }
    }

    /**
    * Button reset
    */

    #reset {
      @include border-radius(5px);
      width: 18vw;
      height: 5vh;
      font-family: $font;
      font-weight: 700;
      font-size: 15px;
      background-color: $strongCyan;
      color: $strongDarkCyan;
      opacity: 25%;
      margin: 6vh 2vw;
      border: none;
      cursor: pointer;
    }

    #reset:hover {
      background-color: $lightCyan;
      opacity: 100%;
    }

    #completed {
      @include border-radius(5px);
      width: 18vw;
      height: 5vh;
      font-family: $font;
      font-weight: 700;
      font-size: 15px;
      background-color: $strongCyan;
      color: $strongDarkCyan;
      margin: 6vh 2vw;
      border: none;
      opacity: none;
    }

    #completed:hover {
      background-color: $lightCyan;
      opacity: 100%;
    }
  }
}

#footer {
  position: fixed;
  top: 95%;
  left: 32%;
}

/**
* Media Queries
*/

@media screen and (max-width: 376px), (height: 800px) {
  /**
  * Title
  */

  #title_container {
    width: 19vw;
    left: 42%;
    top: 2%;
    font-size: larger;
    letter-spacing: 1.5vw;
    color: $darkCyan;
  }

  /**
  * Main Card
  */

  #splitter_container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 16%;

    /**
    * Left side
    */

    .left_card {
      /**
      * First part
      */
      .bill {
        margin-bottom: 0.5vh;
        #dollar {
          position: fixed;
          top: 24.3%;
          left: 12%;
        }
      }

      /*
      ** Second part
      */

      .select_tip {
        .select {
          width: 85vw;
        }

        input {
          height: 5vh;
          width: 37.5vw;
          margin-right: 5px;
          margin-bottom: 11px;
        }

        .custom_clicked {
          width: 36.5vw;
        }
      }

      /**
      * Third part
      */

      .nb_people {
        #person {
          top: 62%;
          left: 12%;
        }
      }
    }

    /**
    * Right side
    */

    .right_card {
      position: fixed;
      top: 66%;
      width: 90%;
      height: 30%;

      .tip {
        margin: 2vh 6vw;

        #tip_amount {
          margin-left: 25vw;
        }

        #total_person {
          margin-left: 30vw;
        }
      }

      #reset {
        height: 6vh;
        width: 79vw;
        margin: 1vh 5vw;
      }

      #completed {
        height: 6vh;
        width: 79vw;
        margin: 1vh 5vw;
      }
    }
  }

  #footer {
    display: none;
  }
}
