/**
* Variables
*/

$white: hsl(0, 0%, 100%);
$veryLightCyan: hsl(189, 41%, 97%);
$lightCyan: hsl(185, 41%, 84%);
$lightDarkCyan: hsl(184, 14%, 56%);
$darkCyan: hsl(186, 14%, 43%);
$strongDarkCyan: hsl(183, 100%, 15%);
$strongCyan: hsl(172, 67%, 45%);

$font: "Space Mono", monospace;
$fontSizeInput: 24px;

$width: 6rem;
$height: 3.5rem;
